body,
html {
  font-family: "whois mono", "akkurat mono", "basis grotesque pro mono",
    "space mono", "courier new", courier, monospace;
  background: #000;
  color: #fff;
  line-height: 1.5em;
}

body {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

* {
  user-select: none;
}

a,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #fff;
}

h1,
p {
  font-size: 16px;
  margin-bottom: 1em;
}

p {
  width: 90ch;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  h1,
  p {
    font-size: 18px;
    line-height: 1.5em;
  }
}